<% if user_signed_in? %>
  <h1>List of Movies</h1>
  <h1>Welcome Home, <%= current_user.email %></h1>
  <%= link_to 'Sign out', destroy_user_session_path, data: { turbo_method: :delete } %>
<% else %>
  <h1>Home</h1>
  <%= link_to 'Sign in', new_user_session_path %>
<% end %>

<div class="col-lg-10">
  <p id="notice"><%= notice %></p>
  <h1>List of Movies</h1>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Duration</th>

        <th colspan="3"><h3>Actions</h3></th>
      </tr>
    </thead>
    <tbody>
      <% @movies.each do |movie| %>
        <tr>
          <td><%= movie.name %></td>
          <td><%= movie.description %></td>
          <td><%= movie.duration %> minutes</td>
          <td><%= link_to 'Show', movie %></td>
          <td><%= link_to 'Edit', edit_movie_path(movie) %></td>
          <td><%= button_to 'Delete', movie_path(movie), method: :delete, class: 'btn btn-danger', form: {data: { turbo_confirm: "Are you sure?" }}  %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <br>
  <%= link_to 'New Movie', new_movie_path, class: "btn btn-primary btn-lg" %>
</div>

